@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --green-hover: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --grey-400: hsl(0, 0%, 12%);
    --grey-700: hsl(0, 0%, 8%);
}